<!DOCTYPE HTML>
<HTML xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<title>Asky Template</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="assets/style.css" />
</head>
<body>
	<div id="wrapper">
	        <header>
		                <img src="images/logoit.png" alt="logoit">
		                <ul id="menu-utama">
		                        <li><a href="index.html">Home</a></li>
		                        <li><a href="https://www.w3schools.com/html/default.asp" target="blank">Tutorial</a></li>
		                        <li><a href="article.html">Article</a></li>
		                        <li><a href="contact-us.html">Contact Us</a></li>
		                </ul>
		                <form>
		                        <input type="text" name="search" formnovalidate="asu" />
		                </form>
	        </header>
	        <section>
      	        <h1 class="text-left text-border">Welcome </h1>
      	        <hr/>
      	        <div class="hero">
        	        <img src="images/logoit.png" alt="logo">
      	        </div>
      	        <p>Welcome to our website. our focus is sharing facts and accurate data that can be used in teaching and learning. besides that on this website we also share courses and exam materials in kindergartens. thank you for your support, check out our article</p>
  	        </section>


	<aside>
	        <h2>Who We Are?</h2>
	        <p>Driven by smart people wanting to do good, we help IT and security professionals advance their careers with certifications and	skills. At the same time, we empower all employees with security training to stay cybersafe at work and home.<br/>
	        It’s what we do every day educating individuals and organizations to defend themselves from cybercrime and equipping everyone with skills and confidence so the good guys win. || infosecinstitute.com</p><br>
	        <h2>Article by Category</h2>
	        <ul>
		                <li><a href="">Cyber Security</a></li>
		                <li><a href="">Penetration Test</a></li>
		                <li><a href="">Ethical Hacking</a></li>
		                <li><a href="">Tech Facts</a></li>
		                <li><a href="">Malmware Analysis</a></li>
		                <li><a href="">Digital Forensic</a></li>
		                <li><a href="">Bug Bounty</a></li>
	        </ul>
	</aside>
	<footer>
	        <h4>Desain Web copyright 2017 by Wahyu Widodo</h4>
	</footer>
	 <figure>
  <img src="pic_trulli.jpg" alt="Trulli" style="width:100%">
  <figcaption>Fig.1 - Trulli, Puglia, Italy.</figcaption>
</figure>
<input type="button"> pos </input>
	</div>
</body>
</HTML>

