<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Halo Bosku, Anda sedang berada di halaman profil</h1>
    <p> sekadar inpoh nih. ini halaman <%= title %> </p>
</body>

</html>
