*{
	margin:0;
	padding:0;
	font-family:calibri, segoe ui, arial, tahoma, sans-serif;
}
a{
	text-decoration: none;
}
a:hover{
	color: #008CBA;
}
.hero{
	width: 100%;
	height: auto;
	float: left;
}
p{
	text-align: justify;
	text-indent: 50px;
	font-family: arial;
	font-size: 35%;
}

.hero img{
	width: 100%;
	min-width: 100%;
}
body{
background-color: #f2e6d9;
}
#wrapper{
width: 60%;
margin: 0 auto;
overflow: hidden;
}

header{
	background: url(images/header.jpg) repeat-x #666;
	height: 70px;
	width: 100%;
	padding: 5px;
	margin: 10px 0;
	overflow: hidden;
}
header img{ 
	width:100px ; 
	height:25px ; 
	border-radius: 10px;
	float: left;

}
#menu-utama {
margin-top:3px;
list-style:none;
} 
#menu-utama li{
float:left;
padding:8px 20px;
border-right:1px solid #555555;
}
#menu-utama li a{
color : #ffffff;
text-decoration:none;
}
header form{
float:right;
margin-top: 7px;
margin-right: 10px;
}
header form input{
border:none;
height:20px;
}
#daftar-artikel{
width:470px;
float:left;
}
article {
background: #f2f2f2;
padding:10px;
margin-bottom:20px;
overflow:hidden;
}
article img{
float:left;
margin-right:10px;
width:200px;
height:165px;
}
article b{
background: #f2f2f2;
padding: 3px;
font-size:12px;
font-weight:bold;
margin-right:10px;
}
article p{
margin:10px 0;
}
article a{
display:block;
text-align:right;
color: #636363;
}
aside{
width:270px;
float:right;
}
aside h2{
font-size:18px;
margin:10px 0;
}
aside p{
line-height:20px;
color : #636363;
}
aside ul li a{
color:#636363;
text-decoration:none;
}
footer{
clear:both;
margin:20px 0;
text-align:center;
background-color: #f0f0f0;
padding:5px;
}

section{
width:470px;
float:left;
height: 550px;
}
section {
	float: left;
	border-radius: 2px;
	background-color: #f2f2f2;
	padding: 10px;
	margin-bottom: 50px;
}
input, textarea{
	background: #ffffcc;
	border: 1px solid aqua;
	border-radius: 5px;
}

#name {
	border: 1px solid #008CBA;
	border-radius: 3px;
	height: 25px;
	width: 400px;
}
#email {
	border: 1px solid #008CBA;
	border-radius: 3px;
	height: 25px;
	width: 400px;
	column-fill: balance;
	box-shadow: 0 0 8px 2px #888;
}
#url {
	border: 1px solid #008CBA;
	border-radius: 3px;
	height: 25px;
	width: 400px;
}
button {
	transition-duration: 0.4s;
	border: 2px solid #008CBA;
	padding: 10px 24px;
 }
button:hover {
	background-color: #008CBA; /* Green */
  color: white;
}

input[type=text],input[type=email],textarea,input[type=url]{
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}
input[type=text]:focus,input[type=email]:focus,textarea:focus,input[type=url]:focus{
	outline: none !important;
    border:1px solid #008CBA;
    box-shadow: 0 0 10px #008CBA;
}
